/* src/components/CartPage.css */
.cart-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4CAF50; /* Título en verde */
}

.cart-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.cart-items {
    flex: 0.7;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px; /* Separación entre la imagen y el título */
}

.cart-item-image {
    width: 10vh; /* Imagen más grande */
    height: auto;
    object-fit: contain;
}

.cart-item span {
    font-weight: bold;
    text-align: center; /* Asegura que el nombre quede centrado */
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #45a049;
}

.quantity-btn:disabled {
    background-color: #FF0000; /* Gris para el botón deshabilitado */
}

.quantity-input {
    width: 40px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remove-btn {
    padding: 6px 12px;
    background-color: #FF0000;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #d32f2f;
}

.cart-summary {
    flex: 0.3;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.invoice-section {
    margin-bottom: 20px;
}

.invoice-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}

.invoice-line p {
    font-weight: bold;
    color: #333;
}

.checkout-section {
    display: flex;
    justify-content: center;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.checkout-btn:hover {
    background-color: #45a049;
}
