/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Menú de navegación */
.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
}

/* Estilos de los enlaces */
.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.nav-links a:hover {
    color: #4CAF50;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropbtn .arrow {
    margin-left: 5px;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    padding: 10px 0;
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #4CAF50;
}

/* Carrito */
.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon .fa-shopping-cart {
    font-size: 24px;
    color: #333;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

/* Menú hamburguesa */
.menu-icon {
    display: none; /* Ocultar el ícono por defecto */
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Ocultar los enlaces en pantallas pequeñas */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Colocar debajo de la navbar */
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .nav-links.open {
        display: flex; /* Mostrar cuando el menú hamburguesa está abierto */
    }

    .menu-icon {
        display: block; /* Mostrar el ícono de hamburguesa en pantallas pequeñas */
    }

    .logo {
        flex: 1; /* Aseguramos que el logo esté centrado */
        text-align: center;
    }

    .cart-icon {
        order: 1; /* Aseguramos que el carrito esté al final */
    }
}
