/* src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hero-section {
    width: 100%;
    height: 600px; /* Ajusta la altura a un valor fijo en píxeles (ajusta esto según lo que se vea mejor) */
    background-color: #333; /* Fondo oscuro si la imagen no carga */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que quede espacio gris si la imagen no llena toda la sección */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el área disponible sin perder proporción */
    object-position: top center; /* Asegura que la parte superior de la imagen sea la que se muestra primero */
}

/* src/App.css o src/components/FeaturedProducts.css */
.section-divider {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid #4CAF50; /* Línea verde de 4px de grosor */
    border-bottom: 4px solid #4CAF50; /* Línea verde en la parte inferior */
}

/* Si deseas ajustar la separación de la línea de la sección, puedes hacerlo con margin-top y margin-bottom */
.section-divider h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
