/* src/App.css */
.hero-section {
    width: 100%;
    height: 130vh; /* 100% de la altura de la pantalla */
    background-image: url('/public/images/General/bannerFinal.jpeg'); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda el área del contenedor */
    background-position: center top; /* Centra la imagen horizontalmente y asegura que la parte superior esté visible */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que se muestre espacio extra si la imagen no llena todo el área */
}

.hero-text {
    color: white;
    font-size: 32px;
    text-align: center;
}
